*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.registro{
    margin: 50px auto;
    background-color: whitesmoke;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
 }
 .registro .campo{
     margin-bottom: 20px;
 }
 .registro h1{
    font-size: 19px;
    margin-bottom: 20px;
    color: rgb(134, 104, 79);
    text-align: center;

}
.registro .boton{
    width: 50%;
    background: #3b57d3;
    border: 2px;
    padding: 12px;
    color: white;
    margin: 12px 1px;
    font-size: 16px;
    text-align: le;

}